$size: 40px;

.bullet-list{
  display: block;
}

.bullet{
  font-size: $size/2;
  display: inline-block;
  text-decoration: none !important;
  width: $size;
  height: $size;
  margin: 1px;
  border: none;

  background-color: $color_text_contrast;
  color: $color_text_default;

  @include transition(500ms);

  .circle &, .circle &:hover{
      border-radius: $size;
  }

  &:hover, &:active, &:focus{
    background-color: $color_text_default;
    color: $color_text_contrast;
    text-decoration: none;
  }

  .fill &{
    background-color: $color_text_default;
    color: $color_text_contrast;

    &:hover{
      background-color: $color_text_contrast;
      color: $color_text_default;
    }

    &:active, &:focus{
      background-color: $color_text_contrast;
      color: lighten($color_text_default, 10%);
    }
  }

  &.item-label{
    width: auto;
    font-size: 14px;

    & .text{
      display: table-cell;
      height: $size;
      text-align: center;
      vertical-align: middle;
      width: auto;
      padding: 0px 10px;
    }
  }

  i{
    display: table-cell;
    width: $size;
    height: $size;
    text-align: center;
    vertical-align: middle;
  }
}

@mixin makeCustomBullet($name, $color) {
    .bullet{
      .#{$name} &{
        color: $color;
        background-color: $color_text_contrast;
        &:hover, &:active, &:focus{
          background-color: $color;
          color: $color_text_contrast;
        }

        &:active, &:focus{
          background-color: lighten($color, 20%);
          color: $color_text_contrast;
        }
      }

      .#{$name}.fill &{
        background-color: $color;
        color: $color_text_contrast;
        &:hover{
          color: $color;
          background-color: $color_text_contrast;
        }

        &:active, &:focus{
          background-color: lighten($color, 20%);
          color: $color_text_contrast;
        }
      }
    }
}

@include makeCustomBullet("alpha", $c_alpha);
@include makeCustomBullet("beta", $c_beta);
@include makeCustomBullet("gama", $c_gama);
@include makeCustomBullet("tetha", $c_tetha);
@include makeCustomBullet("omega", $c_omega);

$bullets: (
    facebook: #3b5998,
    twitter: #33ccff,
    google: #db4437,
    instagram: #df2b7d,
    fickr: #212727,
    linkedin: #1f89be,
    tumblr: #36465d,
    snapchat: #ffea00,
    wpp: #2ab200,
    youtube: #e62117
);


@each $key, $color in $bullets{
  .bullet-list.colored{
    .bullet.b-#{$key}{
        color: $color;

        &:hover{
          color: #fff;
          background-color: $color;
        }
    }

    &.fill{
      .bullet.b-#{$key}{
        color: $color_text_contrast;
        background-color: $color;

        &:hover{
          color: $color;
          background-color: $color_text_contrast;
        }
      }
    }
  }
}
