$menu_height: 50px;

nav[role="menu"] {
    @include padding-height($md);

    @include mediaBySize(xs){
        border:1px solid lighten($color_primary, 40%);
        border-radius: 4px;
    }

    a {
        position: relative;
        display: inline-block;
        height: $menu_height;
        margin: 0 $pd;
        color: $color_text_default;
        background: transparent;
        font-weight: 400;
        line-height: $menu_height;

        @include mediaBySize(xs){
            display: block;
            text-align: center;
            border-radius: 4px;
        }

        &:after {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: block;
            width: 80%;
            height: 3px;
            content: "";
            background-color: transparent;
            @include translate(-50%, 0);
        }

        &:hover {
            text-decoration: none;

            @include mediaBySize(xs){
                background-color: lighten($color_primary, 45%);
            }

            &:after {
                background-color: $color_primary;

                @include mediaBySize(xs){
                    background-color: transparent;
                }
            }
        }

        &.active,
        &:active {
            text-decoration: none;

            @include mediaBySize(xs){
                background-color: darken($color_primary, 10%);
                color: $color_text_contrast;
            }

            &:after {
                background-color: darken($color_primary, 10%);

                @include mediaBySize(xs){
                    background-color: transparent;
                }
            }
        }

        &:focus {
            text-decoration: none;
            color: $color_text_default !important;
            background-color: transparent !important;

            @include mediaBySize(xs){
                background-color: lighten($color_primary, 45%) !important;
            }

            &:after {
                background-color: $color_ascent;

                @include mediaBySize(xs){
                    background-color: transparent;
                }
            }
        }
    }
}


nav[role="list"] {
    a{
        display: inline-block;
        width: 100%;
        margin: 0px;
        padding: 3px 0px;
        color: $color_text_default;

        &:hover{
            color: $color_primary;
            text-decoration: underline;
        }
        &:active,
        &:focus{
            color: darken($color_primary, 10%) !important;
            background-color: transparent !important;
            text-decoration: underline;
        }
    }

    &.half-item{
        a{
            width: 49%;
        }
    }
}
