$align_list: left right center justify;
$selector: ();

@each $item in $align_list{
    .text-align-#{$item}{
        text-align: $item;
    }

    @each $key, $breakpoint in $breakpoints {
        @include mediaBySize($key){
            .text-align-#{$item}-#{$key}{
                text-align: $item;
            }
        }
    }
}

// Powered Default config
#powered{
    @extend %themed;
    @include padding-height($pd);
    font-size: 12px;
}
