.section {
    display: block;
    @include padding-height($pd*2);
    @extend %themed;

    .header {
        text-align: center;

        h1,h2,h3,h4,h5,h6 {
            color: $color_text_default;
            font-weight: 300;

            small {
                font-weight: 600;
            }
        }
    }

    .caption {
        width: 70%;
        margin-right: auto;
        margin-left: auto;
        text-align: center;
        font-weight: 300;

        p {
            font-weight: 300;
        }
    }
}

// Contrast Clas Settings
%contrast {
    color: $color_text_contrast;

    p {
        color: $color_text_contrast;
    }

    a {
        text-decoration: underline;

        color: $color_text_contrast;

        &:focus{
            background-color: $color_text_contrast !important;
            color: $c_alpha;
        }

        &:hover {
            text-decoration: none;
            color: $color_text_contrast;
        }

        &[href^="http://"],
        &[href^="https://"] {
            text-decoration: none;
            border-color: $color_text_contrast;

            &:hover{
                border-bottom-style: solid;
            }
        }
    }

    h1,h2,h3,h4,h5,h6 {
        color: $color_text_contrast;
        font-weight: 300;
        small {
            color: $color_text_contrast;
            font-weight: 600;
        }
    }

    hr {
        background-color: $color_text_contrast;
    }
}

// Footer section
.footer {
    @extend .section;
    .header {
        text-align: left;
        h1,h2,h3,h4,h5,h6 {
            text-transform: none;
            font-size: 20px;
            font-weight: 300;

            b {
                font-weight: 700;
            }
        }
    }
}
