// Default Document Style
body {
    font: $font_default;
}

p {
    @include margin-height($md);
    font: $font_text;
}

a {
    text-decoration: none;
    color: $color_primary;

    &:active,
    &:hover {
        text-decoration: underline;
        color: darken($color_primary, 10%);
    }

    &:focus {
        color: $color_text_contrast !important;
        background: darken($color_primary, 10%) !important;
    }

    &[href^="http://"],
    &[href^="https://"] {
        color: $color_ascent;
        border-bottom: dotted 1px $color_ascent;

        &:active,
        &:hover {
            text-decoration: none;
            border-bottom-color: darken($color_primary, 10%);
        }

        &:focus {
            color: $color_text_contrast !important;
            background: $color_ascent !important;
        }
    }

    &:visited {
        color: darken($color_primary, 20%);
    }

    &.disabled {
        color: $color_fade_dark;

        &:hover{
            cursor: not-allowed;
        }

        &:focus{
            color: $color_fade_dark !important;
            background: $color_fade_light !important;
        }
    }
}

%heading{
    @include margin-height($md);

    font: $font_title;
    display: block;

    small{
        font-size: inherit;
        font-weight: 300;
        color: $color_text_default;
    }
}

h1,h2{
    @extend %heading;
    font-size: 40px;
    color: $color_primary;
}
h3,h4{
    @extend %heading;
    font-size: 30px;
    color: darken($color_primary, 10%);
}
h5,h6{
    @extend %heading;
    font-size: 24px;
    color: darken($color_primary, 20%);
}
h1,h2,h3,h5{
    text-transform: uppercase;
}

hr{
    @include margin-height($md);

    border: none;
    height: 1px;
    background-color: $color_fade_light;

    &.alpha {   background-color: $color_primary; }
    &.beta {    background-color: darken($color_primary, 20%);    }
    &.gama {    background-color: $color_ascent; }
    &.tetha {   background-color: darken($color_ascent, 20%); }

    &.omega { background-color:  $color_text_default; }
}

img{
    max-width: 100%;
}
