%themed{
&.alpha {
  background-color: $c_alpha;
  @extend %contrast;
  p a, span a, .contrast a{
    &:focus{
      color: $c_alpha;
    }
  }
}

&.beta {
  background-color: $c_beta;
  @extend %contrast;
  p a, span a, .contrast a{
    &:focus{
      color: $c_beta !important;
    }
  }
}

&.gama {
  background-color: $c_gama;
  @extend %contrast;
  p a, span a, .contrast a{
    &:focus{
      color: $c_gama !important;
    }
  }
}

&.tetha {
  background-color: $c_tetha;
  @extend %contrast;
  p a, span a, .contrast a{
      &:focus{
        color: $c_tetha !important;
      }
  }
}

  &.omega {
    background-color: $c_omega;
  }
}
