@function color(){
    $color: rgb(random(256)-1,random(256)-1,random(256)-1);
    @if lightness($color) < 60%{
        $color: lighten($color, 60% - lightness($color));
    }
    @return $color;
}

@function ascent($color){
    $color: adjust-hue($color, 164);
    //$color: saturate($color, 0);
    $color: darken($color, 15);
    @return $color;
}

// Colors Settings
$color_soft: #e0e0e0; // For disabled and discreet things
$color_text_default: #2c2c2c; // Text default
$color_text_contrast: #ffffff; // Text in contrast (in case of backgrounds inverted)

// Background Settings
$background: #ffffff; // Background

// Themed Colors
$c_alpha: #fd5244; // Main color DEFAULT #4a1190
$c_beta: darken($c_alpha, 15%);
$c_gama: #720bb3; // A contrast color DEFAULT #0d9ed4
$c_tetha: darken($c_gama, 15%);
$c_omega: #f4f4f4;

// Fonts Settings
$font_default: 300 15px/1.5 "Open Sans", sans-serif; // Default font settings for document
$font_title: 300 24px "Open Sans", sans-serif; // Default font settings for headers elements
$font_text: 300 15px/1.5 "Open Sans", sans-serif; // Default font settings for commom text in documents (<p> elements in <article> tags)
$font_debug: 300 16px/1 "Open Sans Condensed", sans-serif;

// Misc Settings
$md: 15px; // Margin Default Value
$pd: 15px; // Padding Default Value

// Grid System partBee
$ignoreBootstrap: true;
$width: 70px;
$columns: 12;
$gutter: 30px;

// Import fonts from Google Fonts
@import url( 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800|Open+Sans+Condensed:300,700');
