@mixin logo($color) {  
  $logo: 'data:image/svg+xml;utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 394.18 217.34"><g id="Camada_2" data-name="Camada 2"><g id="Camada_4" data-name="Camada 4"><g id="Well"><path fill="' + $color + '" id="w" class="cls-1" d="M200.49,0Q207,0,214.58,4.31T228.67,18.4q6.51,9.77,10.92,25.68T244,83.18a140.94,140.94,0,0,1-2.59,26.54,170,170,0,0,1-7.19,26.16,161.36,161.36,0,0,1-10.83,23.77,130.35,130.35,0,0,1-13.32,19.64,71.27,71.27,0,0,1-14.95,13.8,34.07,34.07,0,0,1-15.52,6c-.64.13-1.28.22-1.92.29s-1.34.1-2.11.1A20.56,20.56,0,0,1,164,195.87q-5.46-3.64-9.58-12.17t-6.71-22.33a222.39,222.39,0,0,1-3.16-33.92q-2.49,13-5.94,26.16a231.4,231.4,0,0,1-7.47,23.67,106.73,106.73,0,0,1-8,17.15Q119,201,115.4,201h-1.15a9.05,9.05,0,0,1-1.72.19H110.8a22.25,22.25,0,0,1-12.46-3.64,34.64,34.64,0,0,1-9.58-9.49,46.41,46.41,0,0,1-6.23-13.32,53.26,53.26,0,0,1-2.2-15.14q0-7.47.48-18.21t1.05-23.38q.57-12.65,1.15-26.64t.58-28Q78.41,64,73,65.16t-11.5,2.3q-6,1.15-12.75,1.92a126.55,126.55,0,0,1-14.37.77A30.78,30.78,0,0,1,21.4,67.56a36.53,36.53,0,0,1-9.77-6.42,36.92,36.92,0,0,1-6.8-8.43A39.69,39.69,0,0,1,1,44.27a18.42,18.42,0,0,1-1-6.42q.19-2.59,1.73-2.59A4,4,0,0,1,5.2,36.8a38.49,38.49,0,0,0,2.88,3.35,16.43,16.43,0,0,0,5,3.35Q16.32,45,22.64,45a158.77,158.77,0,0,0,19.84-1.15q9.11-1.15,16.87-2.59t14.47-2.78A96.82,96.82,0,0,1,86.65,36.8a17.82,17.82,0,0,1,3.45-.38,25.43,25.43,0,0,1,10,2.2,29,29,0,0,1,9.39,6.52,34.09,34.09,0,0,1,6.9,10.64A37.06,37.06,0,0,1,119,70.34q0,2.87-.38,10.54t-1,17.92q-.57,10.26-1.15,21.85t-1.15,22.14q-.57,10.54-1,19T114.06,174a31.66,31.66,0,0,0,.48,5.17,35.68,35.68,0,0,0,1.34,5.46A15.88,15.88,0,0,0,118,189a3.37,3.37,0,0,0,2.59,1.72,72.1,72.1,0,0,0,5.85-13.61q3-8.81,5.85-19.64t5.46-22.61q2.59-11.79,4.6-22.62t3.26-19.64q1.24-8.81,1.63-13.61-.19-3.26-.58-5.75a10.46,10.46,0,0,1,0-4,3,3,0,0,1,2.2-2.11,19.4,19.4,0,0,1,6-.38,17.56,17.56,0,0,1,8.53,3.45,30.14,30.14,0,0,1,7.57,8,49.09,49.09,0,0,1,5.37,10.83,35.38,35.38,0,0,1,2.11,11.88q0,6.52-.1,11.31t-.1,8.91q0,4.12-.1,8.24t-.1,9.29a134.46,134.46,0,0,0,1,16.67q1,7.67,2.11,14t2.2,11.4q1.05,5.08,1.44,8.72,3.64-2.88,7.38-9.58A120,120,0,0,0,199.34,164q3.45-9.1,6.52-19.93t5.27-22q2.2-11.21,3.45-22.14a180.34,180.34,0,0,0,1.25-20.31,135.15,135.15,0,0,0-2.3-26.16A143.62,143.62,0,0,0,208.06,33a121.16,121.16,0,0,0-6.42-15q-3.26-6.23-5-10.25t-1.15-5.85Q196.09,0,200.49,0Z"/><path fill="' + $color + '" id="e" class="cls-1" d="M324.3,135.31a3.88,3.88,0,0,1,1.34-1.82,1.67,1.67,0,0,1,1.53-.19,2,2,0,0,1,1.15,1.25,3.49,3.49,0,0,1-.19,2.49q-.39,1-1.53,5.08t-3.35,9.77a115.12,115.12,0,0,1-5.56,12,63.93,63.93,0,0,1-8,11.69,40.17,40.17,0,0,1-10.64,8.82,26.74,26.74,0,0,1-13.51,3.45,39.11,39.11,0,0,1-17.92-4,43.33,43.33,0,0,1-13.42-10.35,46.25,46.25,0,0,1-8.34-13.89A41.64,41.64,0,0,1,243,144.7a76.69,76.69,0,0,1,2.11-18.11,104.44,104.44,0,0,1,5.17-16,77.36,77.36,0,0,1,6.61-12.65,45.7,45.7,0,0,1,6.42-8,18.74,18.74,0,0,1,7.47-3.74,38.56,38.56,0,0,1,9.29-1.34,57.43,57.43,0,0,1,8.91.48A21.52,21.52,0,0,1,295.55,87q4.41,2.11,7.19,8.15a33.42,33.42,0,0,1,2.78,14.09q0,15.14-6.33,22.9t-15.71,7.76a35.69,35.69,0,0,1-7.19-.77,68.93,68.93,0,0,1-6.8-1.73,43,43,0,0,0,1.15,14,50.4,50.4,0,0,0,4.7,12.27,31,31,0,0,0,6.9,8.72,12.24,12.24,0,0,0,8,3.35A21.37,21.37,0,0,0,301.11,173a34.37,34.37,0,0,0,8.53-7,45.14,45.14,0,0,0,6.32-9.2q2.59-5,4.41-9.49a64,64,0,0,0,2.68-7.86A28.79,28.79,0,0,1,324.3,135.31Zm-36-33.92a10.2,10.2,0,0,0-6.9,2.68,24.11,24.11,0,0,0-5.37,7.09,49.53,49.53,0,0,0-3.83,10.16,87.17,87.17,0,0,0-2.3,12.07q6.13,2.69,10.54,1.25a15.25,15.25,0,0,0,7.28-5,22.78,22.78,0,0,0,4.22-8.43,35.2,35.2,0,0,0,1.34-9.29,19.92,19.92,0,0,0-1.25-7.47Q290.76,101.39,288.27,101.38Z"/><path fill="' + $color + '" id="ll" class="cls-1" d="M384.1,167.69A124.65,124.65,0,0,0,387.35,192q2.49,9.58,4.5,15.14a44.49,44.49,0,0,1,2.3,7.76q.29,2.2-3.55,2.4-3.45.19-8-3.45a40.09,40.09,0,0,1-8.82-10.45,82,82,0,0,1-7.47-16.1,89.47,89.47,0,0,1-4.41-20.6q-1,6.71-2.4,13.89T356.21,194a56,56,0,0,1-4.12,10.54q-2.3,4.31-5,5.46a2.12,2.12,0,0,1-1.05.29c-.58.06-.93.1-1.05.1q-4,0-8.82-3.07a34.09,34.09,0,0,1-9.1-9.1,57.55,57.55,0,0,1-7.38-15.14,78.7,78.7,0,0,1-3.64-21.37q-.38-8.24.19-19.93T318,117.19q1.15-12.94,2.59-26.06T323.25,67q1.24-11,2.11-18.78a67.45,67.45,0,0,0,.67-9.87q-.19-3.64,1.44-5.46a6.23,6.23,0,0,1,4-2.11,13.54,13.54,0,0,1,5.37.58,20,20,0,0,1,5.56,2.59,16,16,0,0,1,4.31,4.22,10.31,10.31,0,0,1,1.92,5.17,90.1,90.1,0,0,1-.58,11.31q-.77,8.44-2,20.12t-2.68,25.2q-1.44,13.51-2.59,26.45t-1.92,23.86a141.73,141.73,0,0,0-.38,17.44q.38,8.24,1.25,14.37a105,105,0,0,0,2,10.73q1.15,4.6,2.2,7.76a39.32,39.32,0,0,0,2,5.08q1.15-.19,2.68-4.5t3.16-11q1.63-6.71,3.26-14.66t3.07-15.33q1.44-7.37,2.4-13.22t1.34-8.15q.76-12.65,2.11-26.35t2.68-25.68Q368,74.75,369,66a82.43,82.43,0,0,0,.77-11.4q-.19-5.36,3.26-6.8a11.2,11.2,0,0,1,7.67-.19,20,20,0,0,1,7.86,4.6,10.66,10.66,0,0,1,3.83,7.38,76,76,0,0,1-.48,10.16q-.67,7.29-1.63,17.15T388,108.19q-1.25,11.4-2.2,22.52t-1.53,20.79A140.8,140.8,0,0,0,384.1,167.69Z"/></g></g></g></svg>';
  background: none;
  background-image: url($logo);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 28px 28px;
}

.powered-line{
  height: 50px;
  padding:17px 0px;
  font-size: 12px;
}

.dev-by{
  font-size: 12px;
  display: block;
  float: right;
  position: relative;

  width: 50px;
  height: 50px;
  @include logo($color_text_contrast);

  &:before{
    position: absolute;
    left: 0px;

    padding:16px 0px;

    content: "Powered by";
    white-space: nowrap;

    @include translate(-100%, 0);
    @include mediaBySize(xs){
      content: "By";
    }
  }

  &:hover, &:active, &:focus{
    background-color: transparent;
    @include logo(transparentize($color_text_contrast, 0.3));
  }

  &.alpha{@include logo($c_alpha);}
  &.beta{ @include logo($c_beta); }
  &.gama{ @include logo($c_gama); }
  &.tetha{ @include logo($c_tetha); }
  &.omega{ @include logo($color_text_default); }
}

#powered{
    @extend %themed;
}
