#login-box .box {
    width: 100%;
    max-width: 300px;
    margin: 30px auto 0px;
    padding: 15px;

    text-align: center;

    color: #000;
    border: solid 1px #ccc;
    border-radius: 8px;
    background: #fff;
}

#login-box .logo {
    margin-top: 30px;
}

#login-box .input-group {
    width: 90%;
    max-width: 270px;
    margin: 10px auto;
}

#login-box .input-group input {
    text-align: center;
}

#login-box .end-form {
    margin: 0px 0px 15px;
}

#login-box .footer {
    padding: 10px;

    text-align: center;

    color: #fff;

    font-size: 12px;
}
