#footer .header-title{
    display: block;

    margin: 0px;
    padding: 120px 0px 15px;

    font-size: 20px;
    line-height: 1;
}
#footer .header-brand{
    display: table-cell;
    overflow: hidden;

    width: auto;
    height: 155px;
    padding: 40px 0px 15px;

    vertical-align: bottom;

    line-height: 1;
}
#footer .header-brand img{
    display: table-cell;

    max-height: 100px;

    vertical-align: bottom;
}
#footer .item-link{
    padding: 10px 15px 5px;

    line-height: 15px;
}
#footer .item-link:hover{
    background-color: #fffcfc;
}
#powered-footer{
    display: block;

    padding: 15px 0px;

    background: #eee;

    font-size: 11px;
    line-height: 20px;
}
#powered-footer .devby{
    text-align: right;
}
#powered-footer a.icon{
    float: right;

    margin: 0px 5px;

    font-size: 20px;
}
#powered-footer a.icon:hover,
#powered-footer a.icon:focus,
#powered-footer a.icon:active{
    text-decoration: none;
}

@media (min-width: 1960px) {}

@media (max-width: 1959px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    #footer .header-title{
        display: block;

        padding: 30px 0px 15px;
    }
    #footer .header-brand{
        display: block;
        overflow: auto;

        height: auto;
        padding: 30px 0px 15px;

        line-height: 1;
    }
    #footer .header-brand img{
        display: block;

        max-height: 100px;
    }
    #powered-footer{
        text-align: center;
    }
    #powered-footer .devby{
        margin-top: 10px;

        text-align: center;
    }
    #powered-footer a.icon{
        display: block;
        float: none;
    }
}
