.galery-list a:hover {
    text-decoration: none;
}

.galery-list .galery-item {
    display: block;

    margin-bottom: 30px;

    color: inherit;
    border: 1px solid transparent;
}

.galery-list .galery-item .item-image {
    position: relative;
}

.galery-list .galery-item .item-image img {
    min-width: 100%;
    max-width: 100%;
}

.galery-list .galery-item .item-title {
    overflow: hidden;

    height: 60px;
    margin: 15px 0 15px;
    padding: 0;

    font-size: 24px;
    font-weight: 300;
    line-height: 30px;
}

.galery-list .galery-item .item-resume {
    overflow: hidden;

    height: 60px;
    margin: 15px 0 15px;
    padding: 0;

    font-size: 16px;
    line-height: 20px;
}

.galery-list .galery-item.border {
    border-color: #eee;
}

.galery-list .galery-item.border .item-title, .galery-list .galery-item.border .item-resume {
    padding-right: 15px;
    padding-left: 15px;
}

.video-holder:before, .image-holder:before {
    position: absolute;
    top: 50%;
    left: 50%;

    display: table-cell;

    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    vertical-align: middle;

    opacity: .5;
    color: #fff;
    text-shadow: 0 0 2px #0d0d0d;

    font-family: 'FontAwesome';
    font-size: 6em;
    line-height: 1;
}

.video-holder:before {
    content: '';
}

.image-holder:before {
    content: '';
}

.galery-list .galery-item:hover .video-holder:before, .galery-list .galery-item:hover .image-holder:before {
    opacity: 1;
}

.galery-list .galery-item.border:hover {
    border-color: #eee;
    background-color: #fbfbfb;
}

@media (min-width: 1960px) {}

@media (max-width: 1959px) {}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .galery-list .galery-item .item-title {
        overflow: auto;

        height: auto;
    }
    .galery-list .galery-item .item-resume {
        overflow: auto;

        height: auto;
    }
}
