.navigation{
    display: block;

    margin: 0px;
    padding: 0px;

    list-style: none;

    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.navigation .item{
    position: relative;

    display: inline-block;

    margin: 0px;
    padding: 13px 30px;
}
.navigation .item.home{
    padding: 0px 10px;

    transform: translateY(2px);

    font-size: 24px;
}

.navigation .item:hover{
    text-decoration: none;

    background-color:  #eee;
}

.navigation .item:focus{
    text-decoration: none;
}

.navigation .item:active,
.navigation .item.active{
    text-decoration: none;
    text-decoration: none;

    color: white;
    background-color:  #23527c;
}

.navigation .item.home:hover,
.navigation .item.home:active,
.navigation .item.home.active{
    color: currentColor;
    background: none;
}

.navigation .item:active,
.navigation .item.active{
    text-decoration: none;

    color: white;
    background-color:  #23527c;
}
.navigation .item:hover .sub-navigation,
.navigation .item:active .sub-navigation,
.navigation .item:focus .sub-navigation{
    display: block;
}
.navigation .item .sub-navigation{
    position: absolute;
    top: 100%;
    left: 0px;

    display: none;
    float: left;

    width: auto;
    margin: 0px;
    padding: 0px;

    list-style: none;

    border: solid 1px #ddd;
    background: #eee;
}
.navigation .item .sub-navigation li a{
    display: block;

    padding: 7px 15px;

    white-space: nowrap;
}

.navigation .item .sub-navigation li a:hover{
    text-decoration: none;

    background: white;
}

@media (min-width: 1960px) {
}
@media (max-width: 1959px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
    .navigation .item {
        padding: 13px 20px;
    }
}
@media (max-width: 767px) {
    .navigation {
        position: relative;
    }
    .navigation .item.home{
        display: block;

        padding: 10px 15px;
    }
    .navigation .item{
        display: block;

        padding: 10px 15px;
    }
    .navigation .item .sub-navigation{
        position: static;

        float: none;

        margin: 10px 0;

        border: none;
        background: transparent;
    }
    .navigation .navbar-toggle{
        position: absolute;
        z-index: 99;
        right: 0px;

        float: none;

        color: #fff;
        background: #23527c;
    }
    .navbar-collapse {
        overflow: hidden;

        min-height: 58px;
    }
}
