.navigation{
    margin: 0px;
    padding: 0px;
    display: block;
    list-style: none;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.navigation .item{
    display: inline-block;
    margin: 0px;
    padding: 13px 30px;
    position: relative;
}
.navigation .item.home{
    padding: 0px 10px;
    font-size: 24px;
    transform: translateY(2px);
}

.navigation .item:hover{
    text-decoration: none;
    background-color:  #eee;
}

.navigation .item:focus{
    text-decoration: none;
}

.navigation .item:active,
.navigation .item.active{
    text-decoration: none;
    background-color:  #23527c;
    color: white;
    text-decoration: none;
}

.navigation .item.home:hover,
.navigation .item.home:active,
.navigation .item.home.active{
    background: none;
    color: currentColor;
}

.navigation .item:active,
.navigation .item.active{
    text-decoration: none;
    background-color:  #23527c;
    color: white;
}
.navigation .item:hover .sub-navigation,
.navigation .item:active .sub-navigation,
.navigation .item:focus .sub-navigation{
    display: block;
}
.navigation .item .sub-navigation{
    display: none;
    position: absolute;
    float: left;
    list-style: none;
    padding: 0px;
    margin: 0px;
    left: 0px;
    top: 100%;
    width: auto;
    background: #eee;
    border: solid 1px #ddd;
}
.navigation .item .sub-navigation li a{
    padding: 7px 15px;
    display: block;
    white-space: nowrap;
}

.navigation .item .sub-navigation li a:hover{
    background: white;
    text-decoration: none;
}

@media (min-width: 1960px) {
}
@media (max-width: 1959px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
    .navigation .item {
        padding: 13px 20px;
    }
}
@media (max-width: 767px) {
    .navigation {
        position: relative;
    }
    .navigation .item.home{
        display: block;
        padding: 10px 15px;
    }
    .navigation .item{
        display: block;
        padding: 10px 15px;
    }
    .navigation .item .sub-navigation{
        position: static;
        float: none;

        margin: 10px 0;
        border: none;
        background: transparent;
    }
    .navigation .navbar-toggle{
        position: absolute;
        right: 0px;
        float: none;
        background: #23527c;
        color: #fff;
        z-index: 99;
    }
    .navbar-collapse {
        min-height: 58px;
        overflow: hidden;
    }
}
