.content-list{
}
.content-list .item-list{
    padding-top: 15px;
    padding-bottom: 15px;
}

.content-list .item-list .item-side{

}
.content-list .item-list .item-side .item-image{
    overflow: hidden;

    height: 300px;
}
.content-list .item-list .item-side .item-image img{
    max-width: 100%;
}

.content-list .item-list .item-side .item-calendar{
    text-align: center;
}
.content-list .item-list .item-side .item-day{
    font-size: 1vw;
    font-weight: 200;
}
.content-list .item-list .item-side .item-date{
    font-size: 130px;
    font-size: 5vw;
    font-weight: 900;
    line-height: 1;
}

.content-list .item-list .item-body{

}
.content-list .item-list .item-body .item-title{
    overflow: hidden;

    margin: 0px;
    padding: 8px 0px;

    white-space: nowrap;
    text-overflow: ellipsis;

    font-size: 30px;
    font-weight: 300;
}
.content-list .item-list .item-body .item-detail{
    padding: 8px 0px;

    color: #999;
}
.content-list .item-list .item-body .item-resume{
    padding: 8px 0px;
}
.content-list .item-list .item-body .item-resume p{
    margin: 0px;
}
.content-list .item-list .item-body .item-view-more{
    padding-top: 10px;

    text-align: right;
}


@media (min-width: 1960px) {
}
@media (max-width: 1959px) {
}
@media (max-width: 1199px) {
}
@media (max-width: 991px) {
}
@media (max-width: 767px) {
    .content-list .item-list .item-side .item-image{
        margin-bottom: 15px;
    }
    .content-list .item-list .item-side .item-image img{
        min-width: 100%;
    }
    .content-list .item-list .item-side .item-day{
        font-size: 15px;
        font-weight: 200;
    }
    .content-list .item-list .item-side .item-date{
        font-size: 150px;
    }
    .content-list .item-list .item-body .item-title{
        margin: 8px 0px;
        padding: 0px;

        white-space: normal;
    }
}
