/* Se for pequeno */
@media (max-width: 991px) {
    /* PAGE HOLDER */
    #page-content{
        margin-bottom: -143px;
        padding-bottom: 143px;
    }

    /*FOTTER*/
    .powered-footer{
        font-size: 14px;
        height: auto;
        line-height: 1;
        padding: 13px 0px;
        text-align: center;
    }
    /* BUTTON */
    .btn{
        height: 40px;
        padding: 11px 15px 15px;
    }
    .btn:active { padding: 13px 15px; }
    .btn-link{ padding: 13px 15px; }
    /* SOCIAL ICONS */
    .social-link-list {
        font-size: 20px;
    }
    .social-link-list .social-item {
        width: 40px;
        height: 40px;
    }
    .social-link-list .social-item > i{
        width: 40px;
        height: 40px;
    }
    .social-link-list.circle .social-item {
        border-radius: 20px;
    }

    .social-link-list .social-item.item-label,
    .social-link-list.fill .social-item.item-label,
    .social-link-list.inverse .social-item.item-label{
        line-height: 40px;
        font-size: 14px;
    }

    /* SECTION */
    .section h4{
        height: 48px;
    }
}

/* Se for bem pequeno */
@media (max-width: 767px) {
    /* PAGE HOLDER */
    #page-content{
        height: auto;
        min-height: auto;
        margin-bottom: 0px;
        padding-bottom: 0px;
    }

    /* HEADER */
    #partbee{
        height: auto;
        text-align: center;
    }
    #logo-partbee,
    #name-partbee{
        display: block;
        position: static;
        top: auto;
        left: auto;
        padding: 0px;
        margin: 0px auto;
        -webkit-transform: none;
        -moz-transform: none;
        -ms-transform: none;
        -o-transform: none;
        transform: none;
        animation: none;
    }
    #logo-partbee{
        padding: 30px;
        height: 200px;
        animation-name: rotating2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    #name-partbee{
        animation-name: sliding2;
        animation-duration: 2s;
        animation-iteration-count: infinite;
    }
    /* HIREME BUTTON */
    #hireme{
        float: none;
        display: block;
        margin-bottom: 15px;
    }
    /* BUTTON */
    .btn{
        margin: 5px 0px;
    }
    /* SOCIAL ICONS */
    .social-link-list {
        text-align: center;
    }
    /* CARD ME */

    .my-card .content {
        margin: 15px 0px;
        text-align: center;
    }
}
